body {
	display: flex;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.home {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
}

video {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	margin: 0 auto;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: rgb(40, 46, 83);
}



.banquan {
	text-align: center;
	padding-top: 40%;
	color: #F0F8FF;
}
